version: "3.9"

services:
  frontend_dev:
    container_name: ai_photostudio_bot_miniapp
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5111:5111"
    restart: unless-stopped
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    volumes:
      - .:/app
      - frontend_node_modules:/app/node_modules

volumes:
  frontend_node_modules:
